
@media screen and (max-width: 920px) {
    

    #sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }



}

@media screen and (max-width:1160px) {
    #ctevt{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:945px) {



    #schoolingwhole{
        display: flex;
        flex-direction: column;
    }

    #alevel{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:623px){
    #wholediv{
        padding: 50px 0%;
    }


    #toptext{
        font-size: xx-large;
    }

    #sectext{
        font-size: x-large;
    }
}

